* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  background-color: rgb(165, 42, 42);
  height: 80px;
  width: 1250px;
  position: fixed;
}
#navbar nav {
  margin-left: 10px;
  color: coral;
}
#navbar nav p {
  font-size: x-large;
  margin-top: 10px;
}
#navbar nav ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-left: 200px;
  color: antiquewhite;
}
#navbar nav ul li {
  list-style: none;
}
#navbar nav ul li a {
  text-decoration: none;
  color: antiquewhite;
}

li:hover {
  color: coral;
}

#maintext {
  background-image: url(03.jpg);
  width: 1250px;
  height: 800px;
}

h1 {
  padding-top: 200px;
  font-size: xx-large;
  padding-left: 40px;
  color: coral;
}

.talk {
  padding-top: 100px;
  margin-left: 50px;
  font-size: xx-large;
}

.is {
  margin-left: 50px;
  font-size: x-large;
}

#end {
  background-color: black;
  height: 500px;
  color: beige;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.div1 {
  font-size: x-large;
  margin-left: 50px;
  margin-top: 150px;
}
.div1 h2 {
  color: whitesmoke;
}
.div1 h2:hover {
  color: coral;
}
.div1 i:hover {
  color: coral;
}

#mainbox {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  background-color: rgba(127, 255, 212, 0.525);
}
#mainbox .box1 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 500px;
  height: 350px;
}
#mainbox .box1 h3 {
  margin-top: 100px;
  font-size: x-large;
}
#mainbox .box1 span {
  color: coral;
  font-size: 50px;
}
#mainbox .box {
  font-weight: 200px;
}

#team {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 180px;
  padding-top: 50px;
  padding-bottom: 40px;
}
#team .team1 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 300px;
  height: 150px;
}
#team .team1 b {
  padding-left: 150px;
  font-size: large;
}
#team .team2 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 300px;
  height: 150px;
}
#team .team3 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 300px;
  height: 150px;
}

#costomer {
  background-color: rgba(127, 255, 212, 0.37);
  margin-top: 50px;
  text-align: center;
  font-size: x-large;
  margin-bottom: 50px;
}
#costomer .george {
  color: coral;
}

#product {
  background-color: rgba(0, 255, 255, 0.285);
  width: 1250px;
  height: 300px;
  padding-top: 70px;
  font-size: 60px;
  margin-top: 40px;
}
#product p {
  margin-left: 80px;
}
#product b {
  color: coral;
}

#goods {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 60px;
  padding-top: 50px;
  padding-bottom: 40px;
}
#goods .pro1 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}
#goods .pro2 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}
#goods .pro3 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}

#Popular {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 120px;
  margin-left: 60px;
}
#Popular .pro4 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}
#Popular .pro4 i {
  color: coral;
  font-size: 30px;
}
#Popular .pro5 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}
#Popular .pro5 i {
  color: coral;
  font-size: 30px;
}
#Popular .pro6 {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
}
#Popular .pro6 i {
  color: coral;
  font-size: 30px;
}

#contact {
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(127, 255, 212, 0.386);
}
#contact .con1 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 400px;
  height: 350px;
  font-size: xx-large;
  margin-left: 100px;
  text-align: center;
}
#contact .con1 .hh2 {
  margin-bottom: 100px;
  font-size: xx-large;
}
#contact .con2 {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 500px;
}

#number {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  background-color: antiquewhite;
}
#number .con3 button {
  width: 200px;
}
#number .con3 button:hover {
  background-color: coral;
  color: azure;
}
#number .con4 {
  margin-left: 30px;
}
#number h4:hover {
  color: coral;
}
#number i:hover {
  color: coral;
}

.let {
  padding-top: 50px;
  padding-bottom: 30px;
}

#bars {
  display: none;
}

.lab {
  display: none;
}

@media (max-width: 450px) {
  #maintext {
    width: 400px;
    height: 800px;
    margin-top: 15px;
  }
  #team {
    display: grid;
    grid-template-columns: 3fr;
  }
  #goods {
    display: grid;
    grid-template-columns: 3fr;
  }
  #mainbox {
    display: grid;
    grid-template-columns: 2fr;
  }
  #mainbox .box {
    display: none;
  }
  #mainbox .box1 {
    width: 400px;
    background-color: white;
  }
  #product {
    background-color: rgba(0, 255, 255, 0.285);
    width: 355px;
  }
  #end {
    background-color: black;
    width: 350px;
  }
  #contact {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0px;
  }
  #contact .con1 {
    background-color: none;
  }
  #contact .con1 .hh1 {
    padding-left: 200px;
  }
  #contact .con1 .hh1 .hh2 {
    margin-bottom: 0px;
  }
  #contact .con1 .hh1 .hh2 {
    margin-right: 200px;
  }
  #contact .con1 .con2 img {
    width: 300px;
  }
  #Popular {
    display: grid;
    grid-template-columns: 3fr;
  }
  #number {
    margin-right: 100%;
  }
  #navbar {
    width: 100px;
    background-color: rgba(255, 127, 80, 0);
  }
  #navbar nav ul {
    display: none;
  }
  #bar {
    display: none;
  }
  .lab {
    position: absolute;
    z-index: 999;
    display: block;
  }
  #bars:checked ~ #navbar nav ul {
    display: block;
    position: absolute;
    top: 100px;
    left: 50px;
  }
}/*# sourceMappingURL=style.css.map */