*{
    margin: 0px;
    padding: 0px;
}
//  ==================================================================header start=====================================================================================
#navbar{
       background-color: rgb(165, 42, 42);
       height: 80px;
       width: 1250px;
       position:fixed;
    //    margin-left: 600px;
       


    nav{
        margin-left: 10px;
        color: coral;
    
        
        p{
            font-size: x-large;
            margin-top: 10px;
            
        }
        ul{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            margin-left: 200px;
            color: antiquewhite;
            
            li{
                list-style: none;
            
                a{
                    text-decoration: none;
                    color: antiquewhite;
                }
            }
        }

    }
}
li:hover{
    color: coral;
}
//========================================================================= header end =========================================================================
//============================================================================= main start =================================================================================
#maintext{
    background-image: url(03.jpg);
    width: 1250px;
    height: 800px;
    

    }
    h1{
        padding-top: 200px;
        font-size: xx-large;
        padding-left: 40px;
    color: coral;
    }
    .talk{
        padding-top: 100px;
        margin-left: 50px;
        font-size: xx-large;
    }
    .is{
        margin-left: 50px;
        font-size: x-large;
    }
    #end{
        background-color: black;
        height: 500px;
        color: beige;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        
    
    }
    .div1{
        font-size: x-large;
        margin-left: 50px;
        margin-top: 150px;
        h2{
            color: whitesmoke;
        }
        h2:hover{
            color: coral;
        }
        i:hover{
            color: coral;
        }
    }
    // ========================================================================= main end ================================================================
// =====================================================================story html start form here ==========================================-->

#mainbox{
    
display: grid;
grid-template-columns: auto auto;
margin-top:  50px;
background-color: rgba(127, 255, 212, 0.525);
    .box1{
        border: 1px solid rgba(0, 0, 0, 0);
        width: 500px;
        height: 350px;
        h3{
            margin-top: 100px;
    font-size: x-large;
            }
            span{
                color: coral;
                font-size: 50px;
            }
        
        
    }
    .box{
       
        
    
    font-weight: 200px;

    }
}
#team{
    display: grid;
    
    grid-template-columns: auto auto auto;
    margin-left: 180px;
    padding-top: 50px;
    padding-bottom: 40px;
    
    .team1{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
    height: 150px;
    
    b{
    padding-left: 150px;
    font-size: large;
    }

    



    
   

    }
    .team2{
        border: 1px solid rgba(0, 0, 0, 0);
        width: 300px;
        height: 150px;
        
    
        }
        .team3{
            border: 1px solid rgba(0, 0, 0, 0);
            width: 300px;
            height: 150px;
            
        
            }
}

#costomer{
background-color: rgba(127, 255, 212, 0.37);
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 50px;
    .george{
    color: coral;



    }
    
}
//=========================================== story end =======================================
//  ===========================================product start form here =========================================================

#product{
    background-color: rgba(0, 255, 255, 0.285);
    width: 1250px;
    height: 300px;
    padding-top: 70px;
    font-size: 60px;
    margin-top: 40px;
    p{
     margin-left: 80px;  
    }
    
    b{
        color: coral;
    }

    

}
#goods{
    display: grid;
    grid-template-columns: auto auto auto;

    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 40px;
    .pro1{
        border: 1px solid rgb(0, 0, 0);
        width: 300px;
        height: 400px;
    }
    .pro2{
        border: 1px solid rgb(0, 0, 0);
        width: 300px;
        height: 400px;
    }
    .pro3{
        border: 1px solid rgb(0, 0, 0);
        width: 300px;
        height: 400px;
    }
}
    #Popular{
        margin-top: 100px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: 120px;
        margin-left: 60px;
    .pro4{
        border: 1px solid rgb(0, 0, 0);
        width: 300px;
        height: 400px;
        i{
            color: coral;
            font-size: 30px;
        }
}
.pro5{
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 400px;

    i{
        color: coral;
        font-size: 30px;
    }
}
.pro6{
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 400px;

    i{
        color: coral;
        font-size: 30px;
    }
}
}
//========================================================== product end ====================================================================================

//========================================================= contact  start ==================================================================================

#contact{
padding-top: 100px;
display: grid;
grid-template-columns: auto auto;

background-color: rgba(127, 255, 212, 0.386);
    
    .con1{
        border: 1px solid rgba(0, 0, 0, 0);
        width: 400px;
        height: 350px;
        font-size: xx-large;
    margin-left: 100px;
    text-align: center;
    
    
    
        .hh2{
            margin-bottom: 100px;
            font-size: xx-large;
        }

} 

.con2{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 500px;
}
}
#number{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    // margin-top: 50px;
    // margin-left: 100px;
    // margin-bottom: 50px;
    background-color: antiquewhite;
    

    .con3{
        button{
            width: 200px;

        }
        button:hover{
            background-color: coral;
            color: azure;
        }
    }
    
.con4{
    margin-left: 30px;
    
}
h4:hover{
    color: coral;
}
i:hover{
    color: coral;

}
}


    .let{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    

#bars{
    display: none;
}
.lab{
     display: none;
}



@media( max-width:450px){
    #maintext{
        
        width: 400px;
        height: 800px;
        margin-top: 15px;
    }
    #team{
         
display: grid;
grid-template-columns: 3fr;
}
#goods{
display: grid;
    grid-template-columns: 3fr;
}
#mainbox{
    
    display: grid;
    grid-template-columns: 2fr;
.box{
    display: none;
}
.box1{
    width: 400px;
    background-color:white;
}

}
#product{
    background-color: rgba(0, 255, 255, 0.285);
    width: 355px;
    
}
#end{
    background-color: black;
    width: 350px;

}
#contact{

    display: grid;
    
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0);
     margin-top: 0px;
    .con1{
        background-color: none;
        .hh1{
        padding-left: 200px;
            // display: none;
            .hh2{
                margin-bottom: 0px;
        }
        .hh2{
            margin-right: 200px;
        }

    }
    .con2 img{
        
        width: 300px;
    
    }
}

}



#Popular{
    display: grid;
    grid-template-columns: 3fr;
}
#number{
    margin-right: 100%;
}
#navbar {
    display: none;
}

#navbar nav ul{
    display:block;
  }
  #bar{
    display: block;
  }

  .lab{
     position: absolute;
    //   top: 10%;
    // right: 5%;
     z-index: 999;
     display: block;
  }


  #bars:checked~#navbar nav ul {
    display: block;
    position: absolute;
    top: 100px;
    right: 60px;
  
  }

}

